name: Node CI

on:
  pull_request:
    branches:
      - main
  push:
    tags:
      - '*.*.*'

permissions:
  id-token: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ '20', '22', '24' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup NodeJS
        uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Dependencies Install
        run: npm ci
        env:
          CI: true

      - name: Test
        run: npm run test
        env:
          CI: true

      - name: Codecov
        if: matrix.node-version == '24'
        uses: codecov/codecov-action@v5.5.2
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  publish:
    runs-on: windows-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    strategy:
      matrix:
        node-version: [ '24' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup NodeJS
        uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          registry-url: 'https://registry.npmjs.org'

      - name: Dependencies Install
        run: npm ci
        env:
          CI: true

      - name: Build
        run: npm run build:no-test:ci
        env:
          CI: true

      - name: Pre-Publish - install package globally
        run: |
          FOR /F "tokens=*" %%g IN ('node -e "console.log(require(""./package.json"").version)"') do (SET VERSION=%%g)
          npm i -g fix-lockfile-integrity-%VERSION%.tgz
        shell: cmd

      - name: Pre-Publish - test package globally
        run: |
          fix-lockfile-integrity
        shell: cmd

      - name: Publish
        run: npm publish --provenance

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: fix-lockfile-integrity-*.tgz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
